include versioneer.py
include pyzyre/_version.py
include Vagrantfile
recursive-include examples *
include README.md LICENSE
include requirements.txt dev_requirements.txt
recursive-include buildutils *
recursive-exclude bundled *
#recursive-exclude zyre *
#recursive-exclude czmq *
